.box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.customRadius {
  border-radius: 4px !important;
}

.clickFollowBtn:active {
  transform: translateY(-4px);
  background-color: skyblue;
}

.clickUnfollowBtn:active {
  transform: translateY(-4px);
  background-color: lightslategray;
}
