.profileImg {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* transform: translate(50, 50); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: auto; */
}

.center {
  display: flex;
  justify-content: center;
}

.profileWrapper {
  /* position: relative; */
  width: 100px;
  height: 100px;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
